h1 {
	font-size: 40px;
	text-align: center;
	color: red;
	background: white;
	width: 300px;
}

div {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

body {
	background-image: url("http://www.color-hex.com/palettes/1866.png");
}